<!doctype html>
<html lang="en">
<head>
    <title>Mice Protein Expression</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="templates/mice_icon.jpg">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="icon" href="mice_icon.jpg" type="image/x-icon"/>
</head>
<body>


	<!-- Testimonials -->
	<section class="testimonials text-center">
		<div class="container-fluid">
            <h1>"Mice Protein Expression"</h1>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<br/>
					<form method="post" id="datafetch_form" enctype="multipart/form-data">
						<div class="form-group files color">
							<input type="text" name = "csvfile" id="csvfile" class="form-control" placeholder="Enter absolute file path." required>
						</div>
						<div class=""><button class="form-control btn-primary" id="customfile">Custom File Predict</button></div>
						<br/><center><b>Or</b></center><br/>
						<button class="form-control btn-primary mb-5" id="defaultfile" data-path = "datafiles/prediction/raw">
							Default File Predict
						</button>
					</form>
				</div>
				<div class="res-container  col-md-6 col-xs-12">
					<div class="result-box shadow rounded-lg">
						<h6 class="title">Results</h6>
						<div class="json-result">

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<div id="loading"><div class="loader"></div></div>
	<!-- Bootstrap core JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#loading').hide();
			$("#customfile").click(function(e){
				e.preventDefault();
				$('#loading').show();
				var path = $("#csvfile").val();
				$.ajax({
					//change url below
					url : "/predict",
					type: "POST",
					data: {filepath:path},
					success: function(response){
						$(".json-result").html('<pre>' + response + '</pre><p>" Prediction File created at "dafiles/prediction" </p>');
						$('#loading').hide();
					}
				});
			});
			$("#defaultfile").click(function(e){
				e.preventDefault();
				$('#loading').show();
				var path = $(this).attr("data-path");
				$.ajax({
					//change url below
					url : "/predict",
					type: "POST",
					data: {filepath:path},
					success: function(response){
						$(".json-result").html('<p>"Prediction File created !</p><pre>' + response + '</pre>');
						$('#loading').hide();
					}
				});

			});
		});
	</script>
</body>

</html>